/*:root {
--azulito:
--grispulento:#c1c1c1
}*/

body {
    background-color: #374785;
}
.titulo{
    color:  white;
    margin-top: auto;
    padding-top: 2%;
    padding-bottom: 1rem;
    margin-bottom: 1%;
    background-color:#24305E;
    h1{
        padding-left: 10%;
        padding-right: 10%;
    }

}
.potencia{
    color: black;
    border: solid 2px  black;
    background-color: #dfdfdf;
    padding-left: 3%;
    margin-left: 2%;
    #wifi{
        align-items: center;
        max-width: 20%;
    }
}


table{
    border-collapse: collapse; 
    max-width: fit-content; 
}

.card-header{
    background-color: #dc3545;
}
.card-body{
    background-color: #dfdfdf;
}

.modulos {
    overflow: hidden;
    border: solid 1px   black;
    border-radius: 20px;
    padding-left: 0%;
    padding-right: 0%;
    height: fit-content;
    
    h2{
        cursor: pointer;
        color: aliceblue;
        background-color: #dc3545;
        padding-top: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .sensores{ 
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
    }
    th{
        color: aliceblue;
        background-color: #dc3545;         
    }
    td{
        text-align: center;
        background-color: white;
    }
}

#todo_modulos{
    border:solid 1px black;
    border-radius: 16px;
    overflow: hidden;
    margin: 2%;
   h3,h4,#m1,#m2,#m3{
    text-align: center;
   }
   #centro,#titulos{
    background-color: #dc3545;
    color: white;
   }
   #status{
    background-color: white;
   }
}
#video{
    display: block;
    margin: auto;
    margin-bottom: 2%;
}


.card-header .fa {
    transition: .3s transform ease-in-out;
  }
  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }