body {
    margin: 0;
    padding: 0;
    background-color: honeydew;
}
.titulo{
    color: aliceblue;
    margin-top: auto;
    padding-top: 2%;
    padding-bottom: 1rem;
    margin-bottom: 1%;
    background-color: cadetblue;
    h1{
        padding-left: 10%;
        padding-right: 10%;
    }

}
.potencia{
    color: black;
    border: solid 5px  black;
    background-color: azure;
    #wifi{
        align-items: center;
        max-width: 20%;
    }
}

table{
    border-collapse: collapse; 
    max-width: fit-content; 
}
.modulos {
    overflow: hidden;
    border: solid 1px   black;
    border-radius: 6px;
    padding-left: 0%;
    padding-right: 0%;
    h2{
        cursor: pointer;
        color: aliceblue;
        background-color: cadetblue;
        padding-top: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .sensores{
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    th{
        color: aliceblue;
        background-color: cadetblue;         
    }
    td{
        text-align: center;
        background-color: white;
    }
}

.configuracion{
    border: solid 1px black;
    border-radius: 6px;
    overflow: hidden;
    max-width: fit-content;
    caption{
        color: aliceblue;
        background-color: cadetblue;    
    }   
}